PROJECT_SLUG=mhhome
PROJECT_DB=mhhome
PROJECT_DB_USER=postgres
PROJECT_DB_PASSWORD=Genesis11
REDIS_DB=6
REDIS_KEY_PREFIX=mhhome:prod:
REDIS_QUEUE_PREFIX=mhhome-prod
MINIO_MEDIA_BUCKET=mhhome-media
MINIO_ACCESS_KEY=mhhome_media
MINIO_SECRET_KEY=FmtaKOLnVsODZFnCxfwuCivtiDcHAUBk
